{% extends 'base.html' %}
{% block content%}
  <h1 style="text-align:center">
   A* (A-Star)
  </h1>
  <div style="width:100%; padding-bottom:56.25%; position:relative;">
      <iframe src="{%url 'P5_snake' %}" style="position:absolute; top:0px; left:0px; 
            width:700px; height:700px; border: none; overflow: hidden;"></iframe>


  </div>
{%endblock content%}
{% block sidebar%}
<h2> Overview of Implemntaion </h2>

<ol style = "color:white;">
<li>It has 8X8 grid, hence matrix of 8 rows and 8 column holds food location and snake locations</li>
<li>Starting from snake head, food position eculidian distance is calulated as heuristic.</li>
<li>A priority queue is maintained based on heuristic, each item in the queue contains curent node, actual distance till now, heuristic and node via which it came.</li>
<li>Also note that only valid node is taken, now node related to min. heuristic node in priority queue is searched.</li>
<li> When food is reached, algorithm back-track the nodes visited to reach here. Now it is converted into list of direction.</li>
<li>These list of directions along with snake positions is appended into list, until snake do not find a valid path to food, this is when the algorithm stops.</li>

</ol>
{% endblock sidebar%}
